/* 
-------------Custom Properties-------------
*/
:root { 
  --clr-blue-dark: 11,13,23;
  --clr-blue-light: 208,214,249;
  --clr-white: 255,255,255;
}

/* 
------------Reset----------------  
*/
*,
*::after,
*::before {
  box-sizing: border-box;
} 

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure, 
picture {
  margin: 0;
}

[disabled] {
  cursor: not-allowed;
}

body {
  line-height: 1.5;
  min-height: 100vh;
}

/* make images easier to work with */
img, picture {
  max-width: 100%;
  display: block;
}

/* make forms easier to work with  */
/* obs: elas não herdem normalmente a fonte */
input, button, textarea, select {
  font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* 
------------Utility Classes----------------
*/

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}	 

.grid-center {
  place-items: center;
}

.container {
  padding-inline: 2rem;
  margin-inline: auto;
  max-width: var(--max-width, 80rem);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

/* Colors */

.bg-blue-dark{ 
  background-color: rgb(var(--clr-blue-dark));
}
.bg-blue-light{ 
  background-color: rgb(var(--clr-blue-light));
}
.bg-white{ 
  background-color: rgb(var(--clr-white));
}

.text-blue-dark { color: rgb( var(--clr-dark) );}
.text-blue-light { color: rgb( var(--clr-light) );}
.text-white { color: rgb( var(--clr-white) );}
